---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Box from "../../components/Box.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout>
  <section>
    <div class="max-h-full flex justify-center">
      <div
        class="flex
		 flex-row
		  flex-wrap
		  items-center
		  justify-evenly
		  w-full
		  max-sm:h-full
		  sm:max-h-screen
		  sm:overflow-y-auto
		  scrollbar-thin s
		  crollbar-track-base-background-color
		  scrollbar-thumb-box-color-standard"
      >
          {
            posts.map((post) => (
			<div class="py-3 px-2 max-w-full min-w-[80%]">
              <Box title="">
                <a href={`/blog/${post.slug}/`}>
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                  />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="text-base-text-color/50">[Click to see more ...]</p>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </Box>
			</div>
            ))
          }
      </div>
    </div>
  </section>
</BaseLayout>
