 /* Init Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    @apply bg-base-bd-background-color;
}

@layer base {
	:root {
	  background-size: auto;
	}
  }
  
:root {
--body-font: "National Park", "Helvetica";
--header-font: "Reglisse Fill", "Arial Black";
}

@font-face {
font-family: "Reglisse Fill";
src: url('/fonts/Reglisse_Fill.otf') format('opentype');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: "National Park";
src: url('/fonts/NationalPark-Regular.otf') format('opentype');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@layer base {
html {
	font-family: var(--body-font);
}
}

* {
box-sizing: border-box;
}
a {
text-decoration: none;
}

.navitem {
padding: 3px 10px;
}

.navitem.is-active {
@apply bg-base-text-color/50;
}

.animate-gradient {
	background-size: 400%;
	animation: animatedgradient 60s linear infinite;
  }
  
  @keyframes animatedgradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }