---
import BaseLayout from '../layouts/BaseLayout.astro';
import Box from '../components/Box.astro';
import LatestBlogpost from '../components/LatestBlogpost.astro';
import ClickToSeeMore from '../components/ClickToSeeMore.astro';
---

<BaseLayout>
<div class="
	flex
	xl:flex-row
	flex-col
	flex-wrap
	h-full
	gap-5
	justify-start
	content-start
	items-center
	overflow-y-auto
	w-full"
	>
	<div class="w-full xl:w-[60%]">
		<LatestBlogpost />
	</div>
	<div class="w-full xl:w-1/3">
		<a href="/friends">
			<Box title="ðŸ˜Ž Friends">
				Links to some cool people

				<ClickToSeeMore/>
			</Box>
		</a>
	</div>
	<div class="w-full xl:w-1/3">
		<a href="/blog/the_internet_does_forget/">
			<Box title="â­ Cool Post">
				<div class='font-headerf text-lg'>
					The Internet Does Forget
				  </div>
				  <div class='text-base-text-color/60 text-sm'>
					The only post with a reference section
				  </div>
				  <ClickToSeeMore/>
			</Box>
		</a>
	</div>
	<div class="w-full xl:w-1/3">
		<Box title="ðŸ¸ About Me">
			I'm AnnsAnn, a software engineer for technical systems. <br/>
			For some unknown reason, I also enjoy dabbling in web development.
		</Box>
	</div>
	<div class="w-full xl:w-1/4">
		<Box title="âœ‰ï¸ Contact">
			You can contact me via <a class="font-bold underline" href="mailto:blog@annsann.eu">email</a>. <br/> I don't care about your crypto startup though.
		</Box>
	</div>
	<div class="w-full xl:w-[45%]">
		<a href="https://modrinth.com/mod/flower-power">
			<Box title="â›ï¸ Minecraft Mods">
				I made a few Minecraft mods, that you can download on Modrinth
				<ClickToSeeMore/>
			</Box>
		</a>
	</div>
	<div class="w-full xl:w-1/2">
		<Box title="ðŸš€ Made with Astro">
			This site might look like a Single Page Application, but it's not.<br/>
			It's a static multi-page site with some magic
			(99/100 on Lighthouse!)
		</Box>
	</div>
	<div class="w-full xl:w-1/2">
		<a href="https://kosmonaut.annsann.eu/">
			<Box title="ðŸ›°ï¸ Kosmonaut">
				I made a cool fully automated CFW bundler that works purely through Github CI magic.<br/>
				Not the most useful thing, but it's cool ðŸ˜„
				<ClickToSeeMore/>
			</Box>
		</a>
	</div>
	<div class="w-full xl:w-[45%]">
		<a href="https://github.com/AnnsAnns">
			<Box title="ðŸ¤ Github">
				Nearly all my projects are Open Source and on Github.<br/>
				Including the source code for this site.
				<ClickToSeeMore/>
			</Box>
		</a>
	</div>
	<div class="w-full xl:w-[45%]">
		<Box title="ðŸ… Language Tierlist">
			S: Rust, TypeScript<br/>
			A: Python, GDScript<br/>
			B: C++, C, Golang, Kotlin<br/>
			C: JavaScript<br/>
			D: Java
		</Box>
	</div>
	<div class="w-full xl:w-1/2">
		<Box title="ðŸš… Vanilla">
			<p class="">
				This site is completely vanilla, no react, no vue, no svelte, no angular, no jquery, no nothing.
			</p>
		</Box>
	</div>
</div>
</BaseLayout>