---
import Box from "./Box.astro";

interface Props {
  audioSource?: string;
}

const { audioSource } = Astro.props;

let audio = audioSource || "/CheckMiiOut.mp3";

---

<div class="w-fit overflow-x-auto">
  <Box title="">
    <div class="flex flex-col justify-center items-center pt-6">
      <audio transition:persist controls loop>
        <source src={audio} type="audio/mpeg" />
      </audio>
    </div>
  </Box>
</div>