---
import { getCollection, render } from "astro:content";

import Box from '../components/Box.astro';

const posts = (await getCollection("ramblings")).sort((a, b) => {
  if (a.data.pubDate && b.data.pubDate) {
    return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
  } else {
    return -1;
  }
});

const newestPost = posts[0];

const maxPreviewLength = 100;

const { Content } = await render(newestPost);

---

<a class="" href={`/ramblings/${newestPost.id}`}>
    <Box title="🐸 Latest Rambling" createRandomness>
      <div class="pt-2 text-lg font-headerf text-ellipsis min-w-[80vw] md:min-w-40 xl:min-w-80 flex flex-col">
        {
          newestPost.data.title ?
            newestPost.data.title
           : "Untitled Rambling"
        }
      </div>

      <div class="text-sm text-base-text-color/60">
        {newestPost.body && newestPost.body.length > maxPreviewLength
          ? "[Click to see full post]"
          : ""}
      </div>
      </Box>
</a>