---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Box from "../../components/Box.astro";

// Sort by date
const posts = (await getCollection("projects")).sort(
  (a, b) => {

    if (a.data.highlight && !b.data.highlight) {
      return -1
    } else if (!a.data.highlight && b.data.highlight) {
      return 1
    } else {
      return b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    }
  }
);
const title = "A list of all my projects";

const maxPreviewLength = 400;
---

<BaseLayout title="Projects" desc="A showcase of my projects">
  <section>
    <div class="max-h-full flex justify-center">
      <div
        class="flex
        flex-row
        flex-wrap
        items-center
        justify-evenly
        w-full
        max-sm:h-full
        sm:max-h-screen
        sm:overflow-y-auto
        scrollbar-thin s
        crollbar-track-base-background-color
        scrollbar-thumb-box-color-standard"
      >
        {
          posts.map(async (post) => {
            const { Content } = await render(post);

            return (
              <a
                id={post.id}
                class="grow py-3 px-2 max-w-full min-w-[80%] flex flex-col items-center"
              >
                <a href={post.data.link || `/ramblings/${post.id}/`}>
                  <Box
                    title={`${post.data.title || "🐸💬"}`}
                    className={`text-center h-full w-fit max-w-4xl`}
                    createRandomness
                  >
                    <div class="flex flex-col gap-x-2 mt-2 items-center h-full w-full content-center justify-around">
                      <div class="flex flex-col items-center">
                        <div class="pt-2 text-center text-ellipsis min-w-[80vw] md:min-w-80 xl:min-w-96 flex flex-col items-center justify-center">
                          <Content />
                        </div>

                        <div class="text-left self-end text-sm text-base-text-color/60">
                          <div>
                            {post.data.tags
                              ? `${post.data.tags.map((val: string) => `#${val} `)} - `
                              : ""}
                            {post.data.link ? "Click to visit" : "Click to expand"}
                            {post.data.pubDate
                              ? ` - ${post.data.pubDate.toLocaleDateString('de-DE', { year: 'numeric', month: 'short'})}`
                              : "UNKNOWN"}
                            {post.data.highlight ? " ⭐" : ""}
                          </div>
                        </div>
                      </div>
                    </div>
                  </Box>
                </a>
              </a>
            );
          })
        }
      </div>
    </div>
  </section>
</BaseLayout>
